.wapp{
    display: flex;
    width: 250px;
    margin-top: 20px;
    justify-content: center;
}
.wapp img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.massage{
    min-height: 47px;
    width: 201px;
    border-radius: 16px;
    background: linear-gradient(to top, darkgreen, green );
    padding: 10px;
    margin-left: 20px;
    color: white;
    font-weight: 700;
}
