.nav {
    grid-area: nav;
    background-color: #531a50;
    padding-top: 20px;
}
.item{
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;

}
 .item a {
    color: white;
    text-decoration: none;
}
 .item a:hover{
    color: gray;
}
.item a.active{
    color:cornflowerblue;
}